<main class="MY.MICROSERVICE.NAME-Service" data-root="@Request.RootUrl()">
    <div class="container-fluid">
        <div class="page">
            <div class="content"> @RenderBody() </div>
        </div>
    </div>
    @Html.RegisterStartupActions()
</main>